<p>product works!</p>
<div class="container">
    <form #f="ngForm">
      <div class="form-group">
        <label>id</label>
        <input
          type="text"
          name="id"
          class="form-control"
          [(ngModel)]="product.id"
          #i="ngModel"
          required
          pattern="[0-9]+$"
        />
  
        <div class="alert alert-danger" *ngIf="i.invalid && i.touched">
          <div *ngIf="i.errors?.['required']">required</div>
          <div *ngIf="i.errors?.['pattern']">pattern</div>
        </div>
      </div>
      <div class="form-group">
        <label>title</label>
        <input
            type="text"
            name="title"
            class="form-control"
            [(ngModel)]="product.title"
            #t="ngModel"
            required
            pattern="^[A-Z][a-zA-Z]{2,}$"
            />

        <div class="alert alert-danger">
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="form-group">
        <label>nbr_hour</label>
        <input
          type="text"
          name="nbr_hour"
          class="form-control"
          [(ngModel)]="product.nbr_hour"
          #q="ngModel"
          required
        />
        <div class="alert alert-danger">
          <div></div>
          <div></div>
        </div>
      </div>
  
      <button class="btn btn-primary" [disabled]="f.invalid" (click)="add()">
        save
      </button>
    </form>
  </div>
